html{
  background-color: #282c34;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  justify-items: center;
  align-items: start;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-header h1,
.App-header h2 {
  grid-column: 1 / -1;
  margin: 0;
  text-align: center;
  width: 100%;
}
.App-header p, .App-headera p{
  padding-left: 1em;
}
.result h3{
  padding-left: 0.5em;
}

.App-headera {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  padding: 20px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-headera h1 {
  margin: 10px 0;
}

.start,
.login,
.createAccount,
#budgeting, #spending{
  justify-content: center;
  margin: 20px 0;
  padding: 20px 55px 20px 20px;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
}
.start,
.login,
.createAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 55px 20px 20px;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: black;
}

.start p,
.login p,
.createAccount p {
  margin: 10px 0;
}

.start form,
.login form,
.createAccount form {
  width: 100%;
}

.start button,
.login button,
.createAccount button,
#budgeting button,
#spending button,
.start input,
.login input,
.createAccount input,
#budgeting input,
#spending input{
  margin: 10px 0 10px 10px;
  width: 100%;
  padding: 10px;
  font-size: 1rem;
}
.createAccount button,
.createAccount input[type="submit"],
.login button,
.login input[type="submit"],
#budgeting button,
#budgeting input[type="submit"],
#spending button,
#spending input[type="submit"]{
  margin-left: 20px !important;
}
#budgeting, #spending{
  text-align: center;
}
@media (max-width: 768px) { /* For screens smaller than 768px (tablet and smartphone sizes) */
  .App-header {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .start,
  .login,
  .createAccount,
  #spending,
  #budgeting {
    width: 80%;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login, .createAccount{
  display: none;
}
#unpw, #acc{
  color: red;
  display: none;
}
#budgetChange{
  display: none;
}
